/* CSS reset  */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
html {
  font-family: "Hanken Grotesk", sans-serif;
}

/* mobile first style */

.body {
  width: 100vw;
  height: 100vh;
}

.main p {
  font-size: 16px;
}
.wrapper {
  max-width: 375px;
  margin: 200px auto;
  margin-bottom: 20px;
  /* background-color: hsl(0, 0%, 100%); */
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.291);
}

.top {
  background-color: rgb(94, 63, 252);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  border-radius: 0 0 30px 30px;
}
.light {
  color: #bcb7ff;
  font-weight: 700;
}

main .first {
  font-size: 20px;
}
.score {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(71, 41, 215);
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 50px;
}

h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.bottom {
  padding: 30px;
  border-top: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 0 30px 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.one {
  background-color: rgba(253, 233, 230, 0.52);
  border-radius: 10px;
  padding: 15px 0;
}
.icon {
  padding-left: 10px;
}
.red {
  color: hsl(0, 100%, 67%);
  margin-right: auto;
}
.numerator {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.denominator {
  padding-right: 15px;
  color: #a19b9d;
  font-weight: 500;
}

.two {
  background: rgba(230, 203, 140, 0.271);
  border-radius: 10px;
  padding: 15px 0;
}

.yellow {
  color: #e1b54d;
  margin-right: auto;
}

.three {
  background: #f2fbfa;
  border-radius: 10px;
  padding: 15px 0;
}
.green {
  color: hsl(166, 100%, 37%);
  margin-right: auto;
}

.four {
  background-color: #f3f3fd;
  border-radius: 10px;
  padding: 15px 0;
}
.blue {
  color: hsl(234, 85%, 45%);
  margin-right: auto;
}

.btn {
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
}

footer.last {
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: rgba(196, 149, 149, 0.342);
  box-shadow: none;
  border-radius: 10px;
}

a{
  text-decoration: none;
}

/* /////// Desktop designs //////// */

@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    max-width: 740px;
  }
  .right {
    flex: 1;
  }
  .left {
    flex: 1;
  }

  .top,
  .bottom {
    border-radius: 30px;
  }
  footer.last {
    max-width: 375px;
    margin: 0 auto;
    background-color: white;
  }
}
